
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Mentor Match</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/mdb/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="/mdb/css/mdb.min.css" rel="stylesheet">

    <!-- Template styles -->
    <style>
        /* TEMPLATE STYLES */
        
        html,
        body,
        .view {
            height: 100%;
        }
        /* Navigation*/
        
        footer.page-footer {
            background-color: #3c4f74;
            margin-top: 2rem;
        }
        
        
        .flex-center {
            color: #fff;
        }
        
        .view {
            background: url("https://mdbootstrap.com/img/Photos/Horizontal/Work/full page/img%20(2).jpg")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        /*Contact section*/
        
        #contact .fa {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: #1C2331;
        }
    </style>

</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar bg-primary">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <strong>Mentor Match</strong>
            </a>

        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline waves-effect waves-light">
                <a href="/userhome" class="btn btn-default">Login</a>
            </form>
        </div>

        </div>
    </nav>
    <!--/.Navbar-->

    <!-- Main container-->
    <div class="container">

        <br>
        <br>

        {{{body}}}


    <!--Footer-->
    <footer class="page-footer center-on-small-only">

         <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--Second column-->
                <div class="col-lg-3 col-md-4 offset-lg-1">
                    <h5 class="title">Contacts</h5>
                    <ul>
                        <li><a href="#!">Dl-eBay-eWit</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <!--Second column-->
                <div class="col-lg-3 col-md-4 offset-lg-1">
                    <h5 class="title">Learn More</h5>
                    <ul>
                        <li><a href="#!">Wiki</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <!--Second column-->
                <div class="col-lg-3 col-md-4 offset-lg-1">
                    <h5 class="title">ewit</h5>
                    <ul>
                        <li><a href="#!">About ewit</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

            </div>
        </div>
        <!--/.Footer Links-->

    </footer>
    <!--/.Footer-->

    </div>
    <!--/ Main container-->






    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="/mdb/js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/mdb/js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/mdb/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/mdb/js/mdb.min.js"></script>

    <!--Google Maps-->

    <!-- Animations init-->
    <script>
        new WOW().init();
    </script>


</body>

</html>