        <div class="divider-new">
            <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Register to find a mentor</h2>
        </div>

        <!--Section: Login-->
        <section id="about" class="text-center wow fadeIn" data-wow-delay="0.2s">


			<div class="row justify-content-md-center">
			    <!--Second columnn-->
			    <div class="col-lg-6">
					<!--Form with header-->
					<div class="card">
					    <div class="card-block">

					        <!--Header-->
					        <div class="form-header  purple darken-4">
					            <h3><i class="fa fa-lock"></i> eBay Login </h3>
					        </div>

					        <!--Body-->
					        <div class="md-form">
					            <input type="text" id="form2" class="form-control">
					            <label for="form2">corp/ebayid</label>
					        </div>

					        <div class="md-form">
					            <input type="password" id="form4" class="form-control">
					            <label for="form4">corp password</label>
					        </div>

					        <div class="text-center">
					            <a href="/userhome" class="btn btn-deep-purple">Login</a>
					        </div>

					    </div>

					</div>
					<!--/Form with header-->
			    </div>
			</div>


        </section>
        <!--Section: Login-->



