        <br>
        <br>

        <!--Main layout-->
        <div class="container">
            <div class="row">

                <!--Sidebar-->
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">

                    <div class="widget-wrapper">
                        <br>

	                    <div class="avatar">
	                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle">
	                    </div>	                    
	                    <hr>

                         <div class="list-group">
                            <a href="/userhome" class="list-group-item">Account</a>
                            <a href="/userpreference" class="list-group-item">Preference</a>
                            <a href="/usermentors" class="list-group-item active">Mentors</a>
                            <a href="/usermentees" class="list-group-item">Mentees</a>
                        </div>
                    </div>

                </div>
                <!--/.Sidebar-->

                <!--Main column-->
                <div class="col-lg-8">

                <div class="row"> <div class="col-lg-12 card">

                    <!--Naked Form-->
                    <div class="card-block">

                        <!--Header-->
                        <div class="text-center">
                            <h3>Suggested Mentors</h3>
                            <hr>
                        </div>
                        <br>

                        <h5>Should we suggest you new Mentor?</h5>
                        <form class="form-inline">

                            <fieldset class="form-group">
                                <input name="group1" type="radio" id="radio11" >
                                <label for="radio11">No</label>
                            </fieldset>

                            <fieldset class="form-group">
                                <input name="group1" type="radio" id="radio21" checked="checked">
                                <label for="radio21">Yes</label>
                            </fieldset>
                        </form>
                        
                        <br>

                        <h4>Suggested mentors based on your preference</h4>

                        <br>

						<table class="table">
						    <thead>
						        <tr>
						            <th>Name</th>
						            <th>Gender</th>
						            <th>Location</th>
						            <th>Designation</th>
   						            <th>Action</th>
						        </tr>
						    </thead>
						    <tbody>
						        <tr>
						            <td>Abby Barrett</td>
						            <td>Male</td>
						            <td>San Jose - South</td>
						            <td>Sr. Product Manager</td>
						            <td>
						                <a class="blue-text"><i class="fa fa-user"></i></a>
						                <a class="teal-text"><i class="fa fa-check"></i></a>
						                <a class="red-text"><i class="fa fa-times"></i></a>
						            </td>
						        </tr>
						        <tr>
						            <td>Danny Collins</td>
						            <td>Female</td>
						            <td>San Jose - South</td>
						            <td>Diector, Product Manager</td>
						            <td>
						                <a class="blue-text"><i class="fa fa-user"></i></a>
						                <a class="teal-text"><i class="fa fa-check"></i></a>
						                <a class="red-text"><i class="fa fa-times"></i></a>
						            </td>
						        </tr>
						        <tr>
						            <td>Clara Ericson</td>
						            <td>Female</td>
						            <td>San Jose - South</td>
						            <td>Sr. Product Manager</td>
						            <td>
						                <a class="blue-text"><i class="fa fa-user"></i></a>
						                <a class="teal-text"><i class="fa fa-check"></i></a>
						                <a class="red-text"><i class="fa fa-times"></i></a>
						            </td>
						        </tr>

						    </tbody>
						</table>



                    </div>
                </div></div>

                <br>
                
                <div class="row"><div class="col-lg-12 card">

                    <!--Naked Form-->
                    <div class="card-block">

                        <!--Header-->
                        <div class="text-center">
                            <h3>Current Mentors (Max 3)</h3>
                            <hr>
                        </div>
                        <br>

					    <div class="row text-center">

					        <!--First column-->
					        <div class="col-md-4 mb-r card">
					        	<br>
					            <div class="avatar">
					                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(5).jpg">
					            </div>
					            <h4>Maria Kate</h4>
					            <h5>Director, Products </h5>
					            <p>
				                <a class="blue-text"><i class="fa fa-user"></i></a>
				                <a class="teal-text"><i class="fa fa-envelope"></i></a>
				                <a class="red-text"><i class="fa fa-times"></i></a>
				                </p>
					        </div>
					        <!--/First column-->

					        <!--Second column-->
					        <div class="col-md-4 mb-r card">
					            <br>
					            <div class="avatar">
					                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(6).jpg">
					            </div>
					            <h4>Sarah Melyah</h4>
					            <h5>Senior Product Manager</h5>
					            <p>
				                <a class="blue-text"><i class="fa fa-user"></i></a>
				                <a class="teal-text"><i class="fa fa-envelope"></i></a>
				                <a class="red-text"><i class="fa fa-times"></i></a>
				                </p>
					        </div>
					        <!--/Second column-->

                        </div>



                    </div></div>


                </div>

                </div>

                </div>
                <!--/.Main column-->

            </div>
        </div>
        <!--/.Main layout-->

    </main>


