        <br>
        <br>

        <!--Main layout-->
        <div class="container">
            <div class="row">

                <!--Sidebar-->
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">

                    <div class="widget-wrapper">
                        <br>

	                    <div class="avatar">
	                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle">
	                    </div>
	                    <h4>Anna Deynah</h4>
	                    
	                    <hr>

                         <div class="list-group">
                            <a href="#" class="list-group-item active">Account</a>
                            <a href="#" class="list-group-item">Messages</a>
                            <a href="#" class="list-group-item">Calander</a>
                            <a href="#" class="list-group-item">Mentors</a>
                            <a href="#" class="list-group-item">Mentees</a>

                        </div>
                    </div>

                </div>
                <!--/.Sidebar-->

                <!--Main column-->
                <div class="col-lg-8 card">

                <h1>User Home</h1>

                </div>
                <!--/.Main column-->

            </div>
        </div>
        <!--/.Main layout-->

    </main>


